In [ ]:
class CreateOzStudent:
    	pass
	
student = CreateOzStudent()

oz_students = [
	CreateOzStudent("백현우", 4, 3, 3, 2),
	CreateOzStudent("홍해인", 4, 5, 2, 4),
	CreateOzStudent("윤은성", 3, 4, 4, 1),
	CreateOzStudent("홍수철", 2, 3, 1, 5)
]

In [4]:
import os
os.listdir()

['Chapter21.ipynb',
 'Chapter22.ipynb',
 'Chapter23.ipynb',
 'Chapter24.ipynb',
 'Chapter25.ipynb',
 'Chapter26.ipynb',
 'Chapter27.ipynb',
 'Chapter28.ipynb',
 'Chapter29.ipynb',
 'Chapter30.ipynb',
 'Chapter31.ipynb',
 'Chapter32.ipynb',
 'Chapter33.ipynb',
 'Chapter34.ipynb',
 'Chapter35.ipynb',
 'Chapter36.ipynb',
 'Chapter37.ipynb',
 'Chapter38.ipynb',
 'Chapter39.ipynb',
 'Chapter40.ipynb',
 'Chapter41.ipynb',
 'Chapter42.ipynb',
 'Chapter43.ipynb',
 'oz.py',
 'oz_module.py',
 '__pycache__']

In [8]:
class CreateOzStudents:
    def __init__(self, name, python, datebase, django, AWS):
        self.name = name,
        self.python = python,
        self.datebase = datebase,
        self.Django = django,
        self.AWS = AWS

oz_students = [
	CreateOzStudents("백현우", 4, 3, 3, 2),
	CreateOzStudents("홍해인", 4, 5, 2, 4),
	CreateOzStudents("윤은성", 3, 4, 4, 1),
	CreateOzStudents("홍수철", 2, 3, 1, 5)
]

print(oz_students[0].name)
print(oz_students[0].python)
print(oz_students[0].datebase)
print(oz_students[0].Django)
print(oz_students[0].AWS)

('백현우',)
(4,)
(3,)
(3,)
2

In [10]:
class CreateOzStudents:
    def __init__(self, name, python, database, django, AWS):
        self.name = name,
        self.python = python,
        self.datebase = database,
        self.Django = django,
        self.AWS = AWS

    def get_sum(self):
        return self.python +self.database+ self.Django + self.AWS
    
    def get_average(self):
        return self.get_sum() / 4
    
    def to_string(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'
    
oz_students = [
	CreateOzStudents("백현우", 4, 3, 3, 2),
	CreateOzStudents("홍해인", 4, 5, 2, 4),
	CreateOzStudents("윤은성", 3, 4, 4, 1),
	CreateOzStudents("홍수철", 2, 3, 1, 5)
]

print("이름", "총점", "평균", sep="\t")
for student in oz_students:
    print(student.to_string())

이름	총점	평균

AttributeError: 'CreateOzStudents' object has no attribute 'database'

In [12]:
class CreateOzStudents:
    def __init__(self, name, python, database, django, AWS):
        self.name = name  # 학생 이름
        self.python = python  # 파이썬 점수
        self.database = database  # 데이터베이스 점수
        self.Django = django  # 장고 점수
        self.AWS = AWS  # AWS 점수

    def get_sum(self):
        return self.python + self.database + self.Django + self.AWS

    def get_average(self):
        return self.get_sum() / 4

    def to_string(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'

oz_students = [
    CreateOzStudents("백현우", 4, 3, 3, 2),
    CreateOzStudents("홍해인", 4, 5, 2, 4),
    CreateOzStudents("윤은성", 3, 4, 4, 1),
    CreateOzStudents("홍수철", 2, 3, 1, 5)
]

print("이름", "총점", "평균", sep="\t")
for student in oz_students:
    print(student.to_string())

이름	총점	평균
백현우	12	3.0
홍해인	15	3.75
윤은성	12	3.0
홍수철	11	2.75

In [13]:
class CreateOzStudents:
    def __init__(self, name, python, database, django, AWS):
        self.name = name  # 학생 이름
        self.python = python  # 파이썬 점수
        self.database = database  # 데이터베이스 점수
        self.Django = django  # 장고 점수
        self.AWS = AWS  # AWS 점수

    def get_sum(self):
        return self.python + self.database + self.Django + self.AWS

    def get_average(self):
        return self.get_sum() / 4

    def to_string(self):
        return f'{self.name}\t{self.get_sum()}\t{self.get_average()}'

oz_students = [
    CreateOzStudents("백현우", 4, 3, 3, 2),
    CreateOzStudents("홍해인", 4, 5, 2, 4),
    CreateOzStudents("윤은성", 3, 4, 4, 1),
    CreateOzStudents("홍수철", 2, 3, 1, 5)
]

print("이름", "총점", "평균", sep="\t")
for student in oz_students:
    print(student.to_string())

이름	총점	평균
백현우	12	3.0
홍해인	15	3.75
윤은성	12	3.0
홍수철	11	2.75